.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../public/images/reg.png') no-repeat center center;
  background-size: cover;
}

.registration-form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 300px;
}

.registration-form h2 {
  color: #fff;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.registration-form button {
  width: calc(100% - 80px);
  padding: 10px;
  background-color: #d8a87e;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

button:hover {
  background-color: #8b6c50;
}

.login-link {
  margin-top: 15px;
  color: #fff;
  cursor: pointer;
}