.submain-container {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.main-container {
  height: 100vh;
}

.main-background {
  background-image: url('./main.png');
  background-size: cover;
  background-position: center;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  background-color: #a67c52;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20%;
  width: 13%;
}

.play-button:hover {
  background-color: #8c643d;
}
